:root{
    --desktop-background: #377E7F;
    --desktop-icon-text: #fff;
    --win-dialog: #C0C0C0;
    --win-dialog-heading: #808080;
    --win-dialog-heading-active: #0B007B;
}

body {
    font-family: 'Open Sans';font-size: 12px;
    background: var(--desktop-background);
    color: var(--desktop-icon-text);
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 9;
    margin: 10px;
}

.mnemonic {
    text-decoration: underline;
}

.desktop-icon {
    display: flex;
    flex-direction: column;
    font: 1em sans-serif;
    width: 80px;
    justify-content: center;
    align-items: center;
}

.desktop-icon p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font: 1em sans-serif;
    text-align: center;
}

.desktop-icon img {
    width: 32px;
    height: auto;
}

.window {
    position: absolute;
    display: flex;
    top: 100px;
    left: 300px;
    width: 600px;
    height: 400px;
    flex-direction: column;
    background: var(--win-dialog);
    border-radius: 2px;
    padding: 3px;
    margin: 10px;
}

.window .title
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;
    margin: 0;
    height: 10px;
    border-radius: 2px 2px 0 0;
}

.inactive-window {
    background-color: var(--win-dialog-heading);
}

.active-window
{
    background-color: var(--win-dialog-heading-active);
}

.window .title .window-name
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
}

.window .title .window-name p
{
    margin-left: 5px;
    color: var(--win-dialog);
}

.window .title .window-name img
{
    width: 16px;
    height: 16px;
}

.window .control-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.window .control-box .button {
    margin-left: 10px;
}

.window .control-box .maximize {
    width: 14px;
    height: 14px;
    margin-left: 2px;
    background-color: var(--win-dialog);
    border: 2px solid var(--win-dialog);
    border-radius: 2px;
}
.window .control-box .maximize .control {
    width: 10px;
    height: 10px;
    background-color: var(--win-dialog);
    border: 2px solid #000000;
    text-align: center;
    align-items: center;
    padding: auto;
    color: #000000;
}

.window .control-box .minimize {
    width: 14px;
    height: 14px;
    margin-left: 2px;
    background-color: var(--win-dialog);
    border: 2px solid var(--win-dialog);
    display: flex;
    align-items: end;
    border-radius: 2px;
}

.window .control-box .minimize .control {
    width: 14px;
    height: 2px;
    background-color: #000000; 
}

.window .control-box .close {
    width: 14px;
    height: 14px;
    margin-left: 2px;
    background-color: var(--win-dialog);
    border: 2px solid var(--win-dialog);
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.window .control-box .close .control {
    padding-left: 3px;
    font-weight: bold;
    font-size: 1.2em;
    color: #000000;
}

.menu {
    display: flex;
}

.menu .menu-item {
    margin: 5px;
}

.menu .menu-item a {
    text-decoration: none;
    color: #000;
}

.window-area {
    height: 100%;
    margin-bottom: 2px;
}

.window-content {
    display: flex;
    align-items: flex-start;
    border-top: 2px solid var(--win-dialog-heading);
    border-left: 2px solid var(--win-dialog-heading);
    border-right: 2px solid #fff;
    border-bottom: -2px solid #fff;
    background-color: #fff;
    height: 87%;
    color: #000;
    padding: 20px;
}

.window-footer {
    margin-top: 2px;
    height: 25px;
}

.window-footer .footer-inner {
    border-top: 1px solid var(--win-dialog-heading);
    border-left: 1px solid var(--win-dialog-heading);
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 21px;
    color: #000;
    padding: 2px 0 0 5px;   
}

footer {
    top: vh;
    position: absolute;
    bottom: 10px;
    height: 30px;
    background-color: var(--win-dialog);
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 100%;
    display: flex;
    justify-content: space-between;
}

#start-button::before {
    content:url('/assets/icons/places/symbolic/start-here-symbolic.svg'); 
    margin-right: 7px;
}

#start-button {
    width:70px;
    color: #000;
    padding-top: 5px;
    padding-left: 5px;  
    font-weight: bold !important;
    display: flex;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 2px 2px 2px 0;
}

#start-button.pressed {
    padding-top: 6px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

#clock {
    width:70px;
    color: #000;
    padding-top: 4px;
    padding-left: 14px;  
    font-weight: bold !important;
    display: flex;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 2px;
}

.task-bar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.taskbar-app {
    width:170px;
    height: 20px;
    color: #000;
    padding-top: 3px;
    padding-left: 5px;  
    font-weight: bold !important;
    display: flex;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 2px;
}
.taskbar-app.pressed {
    padding-top: 6px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.taskbar-app img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

#start-menu {
    background-image: url("/assets/StartMenu.jpg");
    height: 240px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 39px;
    width: 161px;
    display: none;
}